<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!-- Menu Chính -->
        <menuitem id="menu_root" name="Quản lý tài sản (QLTS)" sequence="0"/>

        <!-- Quản lý Tài Sản -->
        <menuitem id="menu_tai_san" name="Quản lý tài sản" parent="menu_root" sequence="10" action="action_tai_san"/>

        <!-- Danh Mục -->
        <menuitem id="menu_danh_muc" name="Danh mục" parent="menu_root" sequence="20"/>

        <menuitem id="menu_loai_tai_san" name="Loại tài sản" parent="menu_danh_muc" sequence="10"
                  action="action_loai_tai_san"/>
        <menuitem id="menu_vi_tri" name="Vị trí" parent="menu_danh_muc" sequence="20" action="action_vi_tri"/>
        <menuitem id="menu_nha_cung_cap" name="Nhà cung cấp" parent="menu_danh_muc" sequence="30"
                  action="action_nha_cung_cap"/>

        <!-- Quản lý Phiếu & Lịch Sử -->
        <menuitem id="menu_quan_ly_phieu_lich_su" name="Quản lý phiếu và Lịch sử" parent="menu_root" sequence="30"/>

        <menuitem id="menu_phieu_muon" name="Phiếu mượn" parent="menu_quan_ly_phieu_lich_su" sequence="10"
                  action="action_phieu_muon"/>
        <menuitem id="menu_phieu_bao_tri" name="Phiếu bảo trì" parent="menu_quan_ly_phieu_lich_su" sequence="20"
                  action="action_phieu_bao_tri"/>
        <menuitem id="menu_phieu_dieu_chuyen" name="Phiếu điều chuyển" parent="menu_quan_ly_phieu_lich_su" sequence="30"
                  action="action_phieu_dieu_chuyen"/>
        <menuitem id="menu_lich_su_di_chuyen" name="Lịch sử điều chuyển" parent="menu_quan_ly_phieu_lich_su"
                  sequence="40" action="action_lich_su_di_chuyen"/>
        <menuitem id="menu_lich_su_su_dung" name="Lịch sử sử dụng" parent="menu_quan_ly_phieu_lich_su" sequence="50"
                  action="action_lich_su_su_dung"/>
        <menuitem id="menu_lich_su_bao_tri" name="Lịch sử bảo trì" parent="menu_quan_ly_phieu_lich_su" sequence="60"
                  action="action_lich_su_bao_tri"/>

        <!-- Quản Lý Kiểm Kê -->
        <menuitem id="menu_phieu_kiem_ke_root" name="Quản Lý Kiểm Kê" parent="menu_root" sequence="40"/>

        <menuitem id="menu_phieu_kiem_ke" name="Phiếu Kiểm Kê" parent="menu_phieu_kiem_ke_root" sequence="10"
                  action="action_phieu_kiem_ke"/>
        <menuitem id="menu_lich_su_kiem_ke" name="Lịch Sử Kiểm Kê" parent="menu_phieu_kiem_ke_root" sequence="20"
                  action="action_lich_su_kiem_ke"/>

        <!-- Thống kê tài sản -->
        <menuitem id="menu_tai_san_statistics" name="Thống kê tài sản" parent="menu_root" sequence="50"/>

        <menuitem id="menu_tai_san_pie_trang_thai" name="Trạng thái tài sản (Pie)" parent="menu_tai_san_statistics"
                  sequence="10" action="action_tai_san_pie_trang_thai"/>
        <menuitem id="menu_tai_san_bar_gia_tri" name="Giá trị hiện tại (Bar)" parent="menu_tai_san_statistics"
                  sequence="20" action="action_tai_san_bar_gia_tri"/>
        <menuitem id="menu_lich_su_su_dung_line" name="Lịch sử sử dụng (Line)" parent="menu_tai_san_statistics"
                  sequence="30" action="action_lich_su_su_dung_line"/>
        <menuitem id="menu_tai_san_pie_nha_cung_cap" name="Nhà cung cấp (Pie)" parent="menu_tai_san_statistics"
                  sequence="40" action="action_tai_san_pie_nha_cung_cap"/>
    </data>
</odoo>